/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  /* Hide sidebar on small screens */
  @media (max-width: 767.98px) {
    #sidebar {
      display: none;
    }
  }
  
  /* Navbar for small screens */
  @media (max-width: 767.98px) {
    .navbar {
      display: block;
    }
  }
  