h1 {
    text-align: center;
}

body {
    text-align: center;
    margin: 1%;
    background-color:  #cccbd1 !important;
}

form {
    margin-top: 5;
    margin-bottom: 5px;
}

.card-custom {
    background-color: #f8f9fa; 
    border-color: #343a40;
    border-style: 45px;
}

table {
    margin-top: 10px;
    font-size: large;
}

table.table tr {
    font-size: 18px; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Change the text color to make it more pronounced */
    border: #343a40;
  }
  
  table.table th {
    background-color: #f2f2f2; /* Set a background color for table headers */
    font-weight: bold; /* Make the table headers bold */
  }

.button2 {
    /* Styles for button 2 (Back) here */
    background-color: #008CBA; /* Blue */
    color: white;
    padding: 5px 10px; /* Adjust these values to make the button smaller */
    text-align: center;
    text-decoration: none;
    width: 100px; /* Adjust this value to change the button width */
    font-size: 14px; /* Adjust this value to change the font size */
    margin: 4px 2px;
    cursor: pointer;
    opacity: 1; /* Maintain color */
}
.glyphicon-menu-hamburger {
    font-size: npx;
  }
button {
    min-height: 60px;

}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    /* background-color: #04AA6D; */
    color: white;
}


label {
    display: inline-block;
    text-align: right;
}

